// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

/*
** Buttons
*/

.btn {
  display: inline-block;
  color: $buttoncolor;
  background-color: $buttonbakgroundcolor;
  line-height: 2.5;
  border-radius: $border-radius;
}
