@import "../vendors/fonts";

/**
 * Basic typography style for copy text
 */
html {
  font-size: 62.5%;
}

body {
  color: $text-color;
  font-family: $text-font-stack;
  font-size: $basefontsize;
  font-weight: normal;
  line-height: $basefontsize * 1.2;
}
